
/******************* button *******************/

.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg{
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm{
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}


.btn-primary{
  @include button-style($primary, $primary, $white);
}

.btn-danger{
  @include button-style($danger, $danger, $white);
}

.btn-default{
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary)
}

.btn-link{
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}

/******************* alert *******************/


.thera-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 0.25rem;
}

.thera-alert-title{
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

.thera-alert-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
  cursor: pointer;
}

.thera-alert-success{
  @include alert-style($success, $success, $white);
}

.thera-alert-danger{
  @include alert-style($danger, $danger, $white);
}

.thera-alert-default{
  @include alert-style($primary, $primary, $white);
}

.thera-alert-warning{
  @include alert-style($warning, $warning, $white);
}